.container-fluid {
    background-color: #133B40;
}

.navbar {
    background-color: #133B40;
}

.navbar a {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.bi-instagram {
    font-size: 24px;
}

.nav img {
    height: 50px;
    width: auto;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2px;
    padding-bottom: 0.5rem;
    color: #E33E19;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer !important;
}

.active {
    padding-top: 0px;
    color: black;
}

.navbar img {
    height: 70px;
    width: auto;
}

.buzz-navbar {
    background-color: rgb(48, 73, 95);
    color: white;
}

.buzz-navbar .navbar {
    background-color: rgb(48, 73, 95);
    color: white;
}

.buzz-navbar .nav-item {
    color: white;
}

.buzz-navbar h4 {
    color: white;
}

.buzz-navbar img {
    height: 70px;
    width: auto;
}

.aloha-shop {
    color: #EDC601 !important;
}

.navbar-light .nav-link {
    color: black;
}

.navbar-light .nav-link:hover {
    color: black;
}

.aloha-shop {
    color: #EDC601 !important;
}

.dukes-navbar {
    background-color: #017574;
    color: white;
}

.dukes-navbar .nav-link {
    color: white;
}

.dukes-navbar .nav-link:hover {
    color: white;
}

.dukes-navbar .takeout {
    color: #F1A228 !important;
}